attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==49.0.0
docutils==0.23
google_api_python_client==2.198.0
google_auth_oauthlib==1.4.0
HTMLParser==0.0.2
importlib_metadata==9.0.0
Jinja2==3.1.6
jnius==1.1.0
keyring==25.7.0
lockfile==0.12.2
mock==5.2.0
moviepy==2.2.1
numpy==2.5.0
Pillow==12.3.0
protobuf==7.35.1
pyOpenSSL==26.3.0
railroad==0.5.0
Sphinx==9.1.0
thread==2.0.6
tornado==6.5.7
truststore==0.10.4
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
